.password {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
  padding: 12px 0;

  &:last-child {
    border-bottom: none;
  }

  input.password-hash,
  input.password-hash:focus {
    border: none;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    box-shadow: none;
  }
}
